h1{background-color: blue;margin:0%;color:rgb(15, 15, 14);text-align: center;}
a {text-decoration: none;}
body {
    background-image: url("https://thumbs.dreamstime.com/z/global-warming-climate-change-abstract-art-spiritual-mind-watercolor-painting-illustration-design-hand-drawing-176783071.jpg");background-size: cover;
  }
.contact p{margin-bottom: 0%;}